// Colors
$primary: #0075BB;
$green: #00b97d;
$red: #f74444;
$body-color: #565F65;
$header-color: #3B4145;
$black: #000;
$white: #fff;  
$light-gray: #F7F7F7;
$dark-gray: #676F75;
$mid-gray: #A0A0A0;
$line-gray: #DDDDDD;
$facebook: #3c5a8c;
$twitter: #54abf2;
$linkedin: #1c85bc;
$cta-green: #20ad4d;
 
// Clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/*
Usage:
  .container-with-floated-children { @extend %clearfix;}
*/

//Visually hidden
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/*
Usage:
  .visually-hidden {@extend %visuallyhidden;}
*/

.text-center{
  text-align: center;
}

.circle-img{
  border-radius: 10rem;
}

