.btn{
	display: inline-block;
	text-decoration: none;
	padding: 17px 22px;
	color: $dark-gray;
	border: 2px solid $dark-gray;
	border-radius: 2px;
	font-size: 19px;
	@include transition(all 0.2s ease-in-out);

	&:hover{
		opacity: 1;
		background: $dark-gray;
		color: $white;
	}
}