// Breakpoints
$tablet: new-breakpoint(max-width 1024px);
$mobile: new-breakpoint(max-width 736px);

// Containers
*{
	@include box-sizing(border-box);
}
hr {
	border: 1px solid #ECEDEE;
}
header{
	width: 100%;
	background: $primary;
	padding: 29px 0;
	.branding{
		@include outer-container;
		padding: 0px 20px 10px 0;
		@include media($mobile) {
			padding: 0px 20px 10px 20px;
			margin-bottom: 1.5rem;
		}
		figure.logo{
			float: left;
		}
		ul.clio-menu{
			color: $white;
			float: right;
			text-align: right;
			padding-top: 20px;
			display: inline-block;
			list-style-type: none;
			@include media($mobile) {
				display: none;
	    	}
	    li {
	    	display: inline-block;
	    	padding-right: 14px;
	    	a {
	    		color: $white;
	    	}
	    }
		}
	}
}

.container {
	@include outer-container;
	margin: 1em auto;
	padding: 4em auto;
}

.hero {
		 background-color: $primary;
	}
	.hero-title{
		text-align: center;
		background-color: $dark-primary;
		max-width: none!important;
		@include outer-container;
		padding: 60px 20px;
		@include media($mobile) {
			padding: 40px 20px;
	    }
		h1{
			color: $white;
			@include media($mobile) {
				@include font-size(36);
	    	}
		}

	}
	.hero-text {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
		background-color: $dark-primary;
		p {
			color: $white;
		}
		.btn {
			margin-top: 1em;
		}
	}
	.hero-image {
		text-align: center;
		img {
			max-width: 100%;
		}
	}

article {
	@include fill-parent();
	h1 {
		text-align: center;
    margin: 2em 0 1em 0;
    font-size: 2.4em;
	}
	[class^="icon-"] {
		font-size: 2.5em;
    display: inline-block;
    float: left;
    padding-right: 0.3em;
    @include media($mobile) {
    	float: none;
    }
	}
	.half {
		@include span-columns(5);
		@include shift(1);
		padding: 2em 0 3em 0;
		@include media($mobile) {
	  	@include span-columns(12 of 12);
	  	@include shift(0);
	  	padding-left:1em;
	  	padding-right:1em;
			text-align: center;
	  }
	  h3 {
	  	margin-bottom: 0.5rem;
	  }
	}
}

.footer-cta {
	@include fill-parent();
	background-color: $primary;
	text-align: center;
	padding: 3em;
	h3, p {
		color: $white;
		margin-bottom: 0.5rem;
	}
	@include media ($mobile) {
		h3 {
			line-height: 1.3;
		}
	}
}
// BUTTONS

a.btn {
    display: inline-block;
    vertical-align: middle;
    font-family: inherit; 
    font-weight: normal;
    cursor: pointer;
    border: none; 
    padding-top: 0;
    padding-bottom: 0; 
    padding: 1.1rem 2.5rem;
    font-size: 15px;
    border-radius: 4px;
    // Half circle rounded borders
    text-decoration: none;
    text-align: center;
    background: transparent;
    transiton: 1s ease;
    background-color: transparent;
}
a.btn.btn--ghost-white:hover {
	background-color: $white;
	color: $primary;
	opacity: 1;
}
.btn--ghost-white { 
    color: white;
    box-shadow:inset 0 0 0 1px white;
}
a.btn.btn--ghost-grey:hover { 
    background-color: $primary;
    color: $white;
    box-shadow:inset 0 0 0 1px white;
    opacity:1;
}

.btn--ghost-grey { 
    color: $body-color;
    box-shadow:inset 0 0 0 1px $body-color;
}

// FOOTER

footer{
	@include outer-container;
	padding: 35px 30px 35px 30px;
	@include font-size(14);
	margin-bottom: 0;

	@include media($tablet) {
		max-width: 875px;
	}
	@include media($mobile) {
		max-width: 480px;
		border-top: 0;
		padding-top:30px;
	}
	.copyright{
		@include span-columns(7);
		ul{
		  	display: inline-block;

			@include media($mobile){
				// border-top: 1px solid $dark-gray;
				// padding-top: 35px;
			}
			li{
				float: left;
				margin-right: 20px;
				color: $dark-gray;
				text-decoration: none;
				line-height: 24px;

				&:last-child{
					@include omega();
				}

				@include media($mobile) {
					float: none;

				}

				a{
					color: $dark-gray;
					text-decoration: none;
					line-height: 24px;

					&:hover{
						color: $body-color;
					}
				}
			}
		}
	}

	.social{
		@include span-columns(6);
		@include omega();
		text-align: right;
		@include media($mobile){
			text-align: left;
		}
		ul{
			display: inline-block;
			@include media($mobile){
				// border-top: 1px solid $dark-gray;
				// padding-top: 35px;
			}
			li{
				float: left;
				margin-right: 20px;
				color: $dark-gray;
				text-decoration: none;
				line-height: 24px;

				&:last-child{
					@include omega();
				}

				@include media($mobile) {
					float: none;
				}

				a{
					color: $dark-gray;
					text-decoration: none;
					line-height: 24px;

					&:hover{
						color: $body-color;
					}

					i.fa-facebook-official{
						color: $facebook;
					}

					i.fa-linkedin-square{
						color: $linkedin;
					}

					i.fa-twitter{
						color: $twitter;
					}
				}
			}
		}

	}
}


// Resource Book Cover
.whitepaper {
	padding: 6em 0;
	@include media($mobile) {
		padding: 1em 0;
	}
	.half {
		@include span-columns(5);
		@include shift(1);
		padding: 2em 0 3em 0;
		@include media($mobile) {
	  	@include span-columns(12 of 12);
	  	@include shift(0);
	  	padding-left:1em;
	  	padding-right:1em;
			text-align: center;
	  }
	  figure {
	  	padding-top: 2em;
	  }
	}
	.bk-desc {
		@include media($mobile){
			text-align:center;
		}
	}
}


div.resource-cover{
	position: relative;
	width: 100%;
	padding: 1px;

	.bk-book {
		background: $primary;
		position: relative;
		width: 200px;
		height: 260px;
		margin: 0 auto;
		-webkit-box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);
		-moz-box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);
		box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);

		.bk-left{
			display: none;
		}

		.bk-front {
			background: $primary;
			width: 200px;
			height: 260px;
			z-index: 10;

			div{
				border-radius: 0 3px 3px 0;
			}

			& > div{
				display: block;
				position: absolute;
				width: 200px;
				height: 260px;
				background-color: $primary;
			}

			&:after{
				content: '';
				position: absolute;
				top: 1px;
				bottom: 1px;
				left: -1px;
				width: 1px;
				background-color: $primary;
			}
		}

		.bk-cover {
			width: 200px;
			height: 260px;
			margin: 0 auto;
			background: $primary;
			color: $white;
			padding: 24px 24px 10px 24px;
			position: relative;

			span{
				display: block;
			}

			span.type{
				@include font-size(14);
				font-family: 'GibsonRegular', $helvetica;
				font-weight: 300;
				margin-bottom: 24px;
			}

			span.title{
				@include font-size(20);
				font-family: 'Merriweather', $georgia;
			}

			span.footer{
				@include font-size(10);
				font-family: 'GibsonRegular', $helvetica;
				text-transform: uppercase;
				position: absolute;
				margin-bottom: 0;
				bottom: 10px;
				left: 24px;
				border-top: 2px solid $white;
				width: 75%;
				padding-top: 10px;
			}

		}

		@include media($mobile) {
			width: 180px;
  		height: 215px;
  		margin-left: auto;
  		margin-top: 0;
  		.bk-front{
  			width: 180px;
  			height: 215px;

  			.bk-cover{
  				width: 180px;
  				height: 215px;
  				padding: 12px;

				span.type{
					@include font-size(12);
					font-family: 'GibsonRegular', $helvetica;
					font-weight: 300;
					margin-bottom: 12px;
				}
				span.title{
					@include font-size(15);
					font-family: 'Merriweather', $georgia;
				}
				span.footer{
					@include font-size(10);
					font-family: 'GibsonRegular', $helvetica;
					text-transform: uppercase;
					position: absolute;
					margin-bottom: 0;
					bottom: 10px;
					left: 12px;
					border-top: 2px solid $white;
					width: 75%;
					padding-top: 10px;
				}
  			}
  		}

		}

	}
}

// FORM

.demo {
	padding: 4em 0;
	.form {
		@include span-columns(6);
		@include shift(3);
		@include media($tablet){
			@include span-columns(6);
			@include shift(3);
		}
		@include media($mobile){
			@include span-columns(12 of 12);
			@include shift(0);
		}
		form {
			text-align: center;
			@include media($mobile){
				padding: 30px;
			}
			h2 {
				padding-bottom:1em;
			}
			.mktoFormRow {
				margin-bottom: 40px;
			}
			label {
				font-size: 16px;
				z-index: -1;
				position: absolute;
			}
			textarea {
				background-color: transparent;
				border-radius: 0;
				color: $body-color;
				border: 1px solid $dark-gray;
				font-size: 16px;
				padding-left:0!important;
			}
			textarea:focus { 
				outline: none;
			}
			textarea:focus {
				border: 1px solid $dark-gray;
			}
			textarea.mktoInvalid {
				border: 0;
				border: 1px solid $red;
			}
			textarea.mktoInvalid:focus {
				border: 0;
				border: 1px solid $dark-gray;
			}
			label[for=Comments__c] {
			  padding-left:8px!important;
			}
			label[for=Comments__c].moveup {
			  padding-left:0px!important;
			}
			label[for=CASL_Most_Recent_Opt_in__c].moveup {
				top: 0;
				font-size: 16px;
			}
			input {
				background-color: transparent;
				border: 0;
				color: $body-color;
				border-radius: 0;
				border-bottom: 1px solid $dark-gray;
				font-size: 16px;
				padding-left:0!important;
			}
			input:focus { 
				outline: none;
				border-bottom: 1px solid;
			}
			input:focus {
				border: 0;
				border-bottom: 1px solid $dark-gray;
			}
			.mktoLabel {
				top: 0;
				transition: 0.5s cubic-bezier(0.63, 0.01, 0.16, 0.88);;
			}
			.mktoInvalid {
				border: 0;
				border-bottom: 1px solid $red;
			}
			.mktoInvalid:focus {
				border: 0;
				border-bottom: 1px solid $dark-gray;
			}
			.moveup {
				top: -24px;
		    font-size: 12px;
		    transition: 0.5s cubic-bezier(0.63, 0.01, 0.16, 0.88);
		    color: #A8B2B8;
			}
			button.mktoButton[type=submit] {
				background: $primary;
				border: none;
				padding: 12px 40px;
				border-radius: 4px;
				color: $white;
				font-size: 14px;
				transition: opacity 0.2s ease-in-out;
			}
			button.mktoButton[type=submit]:hover {
				background: #005588;
				border: 1px solid;
				padding: 12px 40px;
				border-radius: 4px;
				color: $white;
				font-size: 14px;
				transition: opacity 0.2s ease-in-out;
			}
	}
}
}