.mktoForm{
	width: 100% !important;
	max-width: 450px !important;
	margin: 0 auto;
	font-size: 14px !important;
	color: $body-color !important;

	h1,h2,h3,h4{
		font-family: 'GibsonLight', $helvetica;
  		padding: 0;
	}

	h2{
		@include font-size(36);
	}

	h3{
		@include font-size(28);

	}

	h4{
		@include font-size(24);
	}

	p{
		font-size: 16px !important;
		font-size: 1rem !important;
		line-height: 1.5 !important;
		margin-bottom: 24px !important;
		margin-bottom: 1.5rem !important;
	}

	label.mktoLabel{
		width: 100% !important;
		margin-bottom: 10px;
		font-weight: normal !important;
		.mktoAsterix{
			display: none;
			float: left !important;
			margin-right: 4px;
		}
	}

	label[for=CASL_Most_Recent_Opt_in__c]{
		position: absolute;
		width: initial !important;
		padding: 1px 0;
		margin-bottom: 0 !important;
		left: 25px;
	}
	#{$all-text-inputs}, textarea.mktoField, select.mktoField{ 
  		width: 100% !important;
  		border: 1px solid #A0A0A0;
  		border-radius: 5px;
  		padding: 8px 10px !important;
  		height: 36px !important;
  		float: none !important;
  		&.mktoInvalid{
  			border: 1px solid $red;
  			//background: #fff url(../img/icon-exclamation-mark.png) 98% 57% no-repeat;
  			//background-size: 6px;
  		}
	}

	textarea.mktoField{
		height: initial !important;
	}

	button.mktoButton[type=submit]{
		background: $cta-green;
		border: none;
		padding: 12px 40px;
		border-radius: 5px;
		color: $white;
		font-size: 14px;
		font-family: 'Open Sans', $helvetica;
		font-weight: 400;
		@include transition(opacity 0.2s ease-in-out);

		&:hover{
			@include opacity(0.8);
		}
	}

	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #fff url(../img/icon-dropdown@2x.png) 98% 57% no-repeat;
  		background-size: 10px;
		height: 36px !important;
		color: $body-color !important;
		font-size: 14px !important;

		&.mktoInvalid{
  			border: 1px solid $red;
  		}
	}

	.mktoFormRow{
		margin-bottom: 20px;
	}

	.mktoCheckboxList{
		width: 10px !important;

		label{
			display: none !important;
		}
	}

	.mktoFormCol{
		float: none !important;
		clear: both !important;
		margin-bottom: 0 !important;
	}

	.mktoFieldWrap{
		float: none !important;
		clear: both !important;		
	}

	.mktoGutter, .mktoOffset{
		display: none !important; 
	}

	.mktoButtonWrap{
		margin-left: 0 !important;
	}

	.mktoError{
		display: none !important;
		position: relative !important;
  		left: 0 !important;
  		top: 10px !important;

  		.mktoErrorArrowWrap {
  			display: none !important;
		}

		.mktoErrorMsg{
			background: none !important;
	  		border: none !important;
	  		box-shadow: none !important;
	  		text-shadow: none !important;
	  		color: red !important;
	  		padding: 0 !important;
	  		margin-top: 0 !important;
	  		border-radius: 0;
	  		line-height: initial !important;
	  		max-width: initial !important;
	  		@include font-size(16);
  		}
	}

	.mktoForm-ok{
		width: 100% !important;
		border: 1px solid $green;
		border-radius: 5px;
		padding: 15px 10px !important;
		float: none !important;
		text-align: center;
		margin: 20px 0;
		color: $green;
	}
}

// Sign up for trial form
form[name=clio_signup_form]{
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	font-size: 14px;
	color: $body-color;

	.formRow{
		margin-bottom: 20px;
		@include clearfix;
	}

	h1,h2,h3,h4{
		font-family: 'GibsonLight', $helvetica;
  		padding: 0;
	}

	h2{
		@include font-size(36);
	}

	h3{
		@include font-size(28);

	}

	h4{
		@include font-size(24);
	}

	p{
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
	}

	.form-text{
		@include font-size(14);
	}

	#{$all-text-inputs}, textarea, select{ 
  		width: 100%;
  		border: 1px solid #A0A0A0;
  		border-radius: 5px;
  		padding: 0 10px;
  		height: 36px;
  		float: none;
  		font-family: 'Open Sans', $helvetica;
  		font-size: 14px; 
  		font-weight: lighter;
	}	
	textarea{
		height: initial !important;
	}
 
	input[type=submit]{
		background: $cta-green;
		border: none;
		padding: 12px 40px;
		border-radius: 5px;
		color: $white;
		font-size: 14px;
		font-family: 'Open Sans', $helvetica;
		font-weight: 400;
		@include transition(opacity 0.2s ease-in-out);

		&:hover{
			@include opacity(0.8);
			cursor: pointer;
		}
	}

	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #fff url(../img/icon-dropdown@2x.png) 98% 57% no-repeat;
  		background-size: 10px;
		height: 36px !important;
		color: $body-color !important;
		font-size: 14px !important;
	}

	label{
		margin-bottom: 10px;
		display: block;

		&.error{
			font-size: 12px;
			font-size: 0.75rem;
			font-weight: 400;
			color: #DD1037;
			margin-top: 5px;
		}
	}
}