// Breakpoints
$tablet: new-breakpoint(max-width 1024px);
$mobile: new-breakpoint(max-width 736px);

// Containers
*{
	@include box-sizing(border-box);
}

header{
	width: 100%;
	background: $primary;
	padding: 29px 0;
	.branding{
		@include outer-container;
		padding: 0 20px;

		figure.logo{
			float: left;
		}
		.clio-title{
			color: $white;
			float: right;
			text-align: right;
			padding-top: 20px;

			@include media($mobile) {
				display: none;
	    	}
		}
	}
	.hero-title{
		@include outer-container;
		padding: 60px 20px;
		@include media($mobile) {
			padding: 40px 20px;
	    }
		h1{
			margin-bottom: 0;
			color: $white;

			@include media($mobile) {
				@include font-size(36);
				margin-bottom: 0;
	    	}
		}

	}
	.container{
		margin: 0 auto;
		@include media($tablet) {
			max-width: 875px;
			padding: 0 15px;
		}
		@include media($mobile) {
			max-width: 480px;
			padding: 0 15px;
		}
	}
}

.main{
	@include outer-container;
	padding: 70px 30px 70px 30px;
	@include media($tablet) {
		max-width: 875px;
	}
	@include media($mobile) {
		max-width: 480px;
	}
	section.content{
		@include media($tablet) {
			@include span-columns(8);
	    }

	    @include media($mobile) {
	    	@include span-columns(12);
	    	padding-bottom: 70px;
	    	border-bottom: 1px solid $line-gray;
	    }

	}
	
	figure{
		@include span-columns(4);

	    @include media($tablet) {
	    	@include span-columns(12);
	    	margin: $doc-margin;
	    	margin-top: 0;
	    }

	    @include media($mobile) {
	    	@include span-columns(12 of 12);
	    }
	}

	article{
		@include span-columns(5);
		padding-right: 3%;

		@include media($tablet) {
	    	@include span-columns(12);
	    }

	    @include media($mobile) {
	    	@include span-columns(12 of 12);
	    	padding-right:0;
	    }

	    h1{
			@include font-size(36);
		}
	}

	aside{
		@include span-columns(4);
		@include omega();
		float: right;

		@include media($tablet) {
			@include span-columns(5);
			@include shift(0);
			float: right;
	    }

	    @include media($mobile) {
	    	@include span-columns(12);
	    	margin-bottom: 70px;
	    	padding-bottom: 70px;
	    	border-bottom: 1px solid $line-gray;
	    }
	}
}

footer{
	@include outer-container;
	padding: 35px 30px 35px 30px;
	border-top: 1px solid $line-gray;
	@include font-size(14);
	margin-bottom: 0;

	@include media($tablet) {
		max-width: 875px;
	}
	@include media($mobile) {
		max-width: 480px;
		border-top: 0;
		padding-top:0;
	}
	.copyright{
		@include span-columns(7);
		ul{
		  	display: inline-block;

			@include media($mobile){
				// border-top: 1px solid $line-gray;
				// padding-top: 35px;
			}
			li{
				float: left;
				margin-right: 20px;
				color: $mid-gray;
				text-decoration: none;
				line-height: 24px;

				&:last-child{
					@include omega();
				}

				@include media($mobile) {
					float: none;

				}

				a{
					color: $mid-gray;
					text-decoration: none;
					line-height: 24px;

					&:hover{
						color: $body-color;
					}
				}
			}
		}
	}

	.social{
		@include span-columns(6);
		@include omega();
		text-align: right;
		@include media($mobile){
			text-align: left;
		}
		ul{
			display: inline-block;
			@include media($mobile){
				// border-top: 1px solid $line-gray;
				// padding-top: 35px;
			}
			li{
				float: left;
				margin-right: 20px;
				color: $mid-gray;
				text-decoration: none;
				line-height: 24px;

				&:last-child{
					@include omega();
				}

				@include media($mobile) {
					float: none;
				}

				a{
					color: $mid-gray;
					text-decoration: none;
					line-height: 24px;

					&:hover{
						color: $body-color;
					}

					i.fa-facebook-official{
						color: $facebook;
					}

					i.fa-linkedin-square{
						color: $linkedin;
					}

					i.fa-twitter{
						color: $twitter;
					}
				}
			}
		}

	}
}


// ====== THANK YOU SPECIFIC  ======
.thankyou{
	.main{

		section.content{
			width: 100%;
			@include omega();
			text-align: center;
			border-bottom: none;
			padding-bottom: 0;
			.titles{
				h2, h1, h3{

					a{
						text-decoration: none;
						color: $primary;
					}
				}
				h2{
					margin-bottom: 0;
				}
				
			}
		    .social-share{
		    	margin-top: 50px;
		    	ul{
		    		display: inline-block;
		    		list-style: none;
		    		li{
		    			float: left;
		    			margin-right: 20px;
		    			&:last-child{
		    				margin-right: 0;
		    			}

		    			@include media($mobile){
		    				float: none;
							display: inline-block;
							margin-right: 0;
							margin-bottom: 20px;

							&:last-child{
		    					margin-bottom: 0;
		    				}
		    			}
		    			a{	
		    				display: block;
		    				padding: 10px 20px;
		    				background: $primary;
		    				color: $white;
		    				text-decoration: none;
		    				font-size: 14px;
		    				border-radius: 5px;
		    				@include transition(opacity 0.2s ease-in-out);
		    				&:hover{
		    					@include opacity(0.8);
		    				}
		    				i.fa{
		    					margin-left: 5px;
		    				}

		    			}
		    		}
		    	}
		    }

		}
	}

	.secondary{
		$grid-columns: 12 !global;
		@include outer-container;
		padding: 70px 30px 70px 30px;
		border-top: 1px solid $line-gray;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
			border-bottom: 1px solid $line-gray;
  			margin-bottom: 70px;
		}

		section.content{
			text-align: center;
			@include span-columns(12);
			.books{
				margin-top:70px;
				@include clearfix;
				.resource-item{	
					text-align: center;
					@include span-columns(4);
					@include media($mobile) {
						@include span-columns(12 of 12);
					}
				}
				a.book{
					display: inline-block;
					color: $white;
					position: relative;
					width: 260px;
					height: 311px;
					text-align: left;
					padding: 24px 24px 10px 24px;
					background: $primary;
					-webkit-box-shadow: 7px 6px 26px -4px rgba(50,50,50,0.8);
					-moz-box-shadow: 7px 6px 26px -4px rgba(50,50,50,0.8);
					box-shadow: 7px 6px 26px -4px rgba(50,50,50,0.8);
					text-decoration: none;
					@include transition(opacity 0.2s ease-in-out);
					&:hover{
						@include opacity(0.8);
					}
					&.guide{
						background: $primary;
					}
					&.Guide{
						background: $primary;
					}

					&.Webinar{
						background: #565f66;
					}
					&.webinar{
						background: #565f66;
					}
					@include media($tablet) {
						width: 180px;
    					height: 215px;
    					padding: 12px 12px 5px 12px;
					}
					@include media($mobile) {
						margin: 0 auto;
  						margin-bottom: 20px;
					}
					span{
						display: block;
					}

					span.type{
						@include font-size(14);
						font-family: 'GibsonRegular', $helvetica;
						font-weight: 300;
						margin-bottom: 12px;
					}

					span.title{
						@include font-size(20);
						font-family: 'Merriweather', $georgia;

						@include media($tablet) {
							@include font-size(16);
						}
					}

					span.footer{
						@include font-size(10);
						font-family: 'GibsonRegular', $helvetica;
						text-transform: uppercase;
						position: absolute;
						margin-bottom: 0;
						bottom: 10px;
						left: 24px;
						border-top: 2px solid $white;
						width: 75%;
						padding-top: 10px;

						@include media($tablet) {
							left: 12px;
						}
					}
				}
			}

			.view-all{
				display: inline-block;
				padding: 30px;
				margin-top: 60px;
			}
		}
	}
}
 

// ====== WHITEPAPER SPECIFIC MODULES ======
// Resource Book Cover

div.resource-cover{
	position: relative;
	width: 100%;
	padding: 1px;

	.bk-book {
		background: $primary;
		position: relative;
		width: 260px;
		height: 311px;
		margin: 0 auto;
		-webkit-box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);
		-moz-box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);
		box-shadow: 4px 5px 21px -4px rgba(50, 50, 50, 0.48);

		.bk-left{
			display: none;
		}

		.bk-front {
			background: $primary;
			width: 260px;
			height: 311px;
			z-index: 10;

			div{
				border-radius: 0 3px 3px 0;
			}

			& > div{
				display: block;
				position: absolute;
				width: 260px;
				height: 311px;
				background-color: $primary;
			}

			&:after{
				content: '';
				position: absolute;
				top: 1px;
				bottom: 1px;
				left: -1px;
				width: 1px;
				background-color: $primary;
			}
		}

		.bk-cover {
			width: 260px;
			height: 315px;
			margin: 0 auto;
			background: $primary;
			color: $white;
			padding: 24px 24px 10px 24px;
			position: relative;

			span{
				display: block;
			}

			span.type{
				@include font-size(14);
				font-family: 'GibsonRegular', $helvetica;
				font-weight: 300;
				margin-bottom: 24px;
			}

			span.title{
				@include font-size(20);
				font-family: 'Merriweather', $georgia;
			}

			span.footer{
				@include font-size(10);
				font-family: 'GibsonRegular', $helvetica;
				text-transform: uppercase;
				position: absolute;
				margin-bottom: 0;
				bottom: 10px;
				left: 24px;
				border-top: 2px solid $white;
				width: 75%;
				padding-top: 10px;
			}

		}

		@include media($tablet) {
			width: 180px;
    		height: 215px;
    		margin-left: 0;
    		margin-top: 0;
    		.bk-front{
    			width: 180px;
    			height: 215px;

    			.bk-cover{
    				width: 180px;
    				height: 215px;
    				padding: 12px;

					span.type{
						@include font-size(12);
						font-family: 'GibsonRegular', $helvetica;
						font-weight: 300;
						margin-bottom: 12px;
					}

					span.title{
						@include font-size(15);
						font-family: 'Merriweather', $georgia;
					}

					span.footer{
						@include font-size(10);
						font-family: 'GibsonRegular', $helvetica;
						text-transform: uppercase;
						position: absolute;
						margin-bottom: 0;
						bottom: 10px;
						left: 12px;
						border-top: 2px solid $white;
						width: 75%;
						padding-top: 10px;
					}
    			}
    		}

		}

	}
}



// ====== WEBINAR SPECIFIC  ======
.webinar-lp{

	.main{
		@include outer-container;
		padding: 70px 30px 70px 30px;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include span-columns(7);
			@include media($tablet) {
				@include span-columns(8);
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }

			article{
				@include span-columns(12);

				@include media($tablet) {

			    }

			    @include media($mobile) {

			    }
			}
		}

		aside{
			@include span-columns(5);
			@include omega();
			float: right;

			@include media($tablet) {
				@include span-columns(5);
				@include shift(0);
				float: right;
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	margin-bottom: 70px;
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }
		}
	}
}

// ====== RECORDING SPECIFIC  ======
.webinar-recording-lp{
	header{
		background: $white;
		color: $primary;
		.clio-title{
			color: $primary;
		}
	}
	section.video-full-width{
		background: #333;
		padding-top: 170px;
		padding-bottom: 300px;
		text-align: center;
		position: relative;
		@include media($tablet) {
			//padding: 150px 0;
		}

		h1{
			color: $white;
			font-size: 36px;
			display: block;
			margin: 0 auto;
			@include media($tablet) {
				max-width: 875px;
			}
			@include media($mobile) {
				max-width: 480px;
				font-size: 30px;
			}
		}
		button {
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
		.play {
			font-size: 80px;
			color: $white;
			display: block;
			margin: 0 auto;
			background-repeat: no-repeat;
			cursor: pointer;
			position: absolute;

			top: 50%;
			margin-left: -35px;
			left: 50%;
		}
		.video-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	.main{
		@include outer-container;
		padding: 70px 30px 70px 30px;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include omega();
			@include span-columns(12);

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }

			article{
				@include span-columns(12);
				@include omega();
				text-align: center;
			    @include media($mobile) {
			    	text-align: left;
			    }
				
				.hosts{
					@include font-size(24);
					font-family: 'GibsonLight', $helvetica;
					margin-bottom: 60px;
					line-height: 1.333;
				}
				.related-content{
					margin-bottom: 60px;
				}
			}

		}
	}
}

// ====== CLE SPECIFIC  ======
.cle-lp{
	.main{
		@include outer-container;
		
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include omega();
			@include span-columns(12);

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }
			article{
				@include span-columns(12);
				@include omega();
			}

		}
	}
}

// ====== FULL WIDTH BLANK PAGE  ======
.full-width-blank{
	@include media($tablet){
		.branding{
			padding-left: 0;
			padding-right: 0;
		}
		.hero-title{
			padding-left: 0;
			padding-right: 0;
		}		
	}
	.main{
		@include outer-container;
		padding: 70px 20px 70px 20px;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include omega();
			@include span-columns(12);

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }
			article{
				@include span-columns(12);
				@include omega();
			}

		}
	}
}

// ====== FULL WIDTH NARROW BLANK PAGE  ======
.full-width-narrow-blank{
	@include media($tablet){
		.branding{
			padding-left: 0;
			padding-right: 0;
		}
		.hero-title{
			padding-left: 0;
			padding-right: 0;
		}		
	}
	header{

		.hero-title{
			text-align: center;
			max-width: 750px;
		}
	}
	.main{
		@include outer-container;
		max-width: 750px;
		padding: 70px 20px 70px 20px;
		text-align: center;
		
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include omega();
			@include span-columns(12);

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    }
			article{
				@include span-columns(12);
				@include omega();
				padding: 0;

				hr{
					border: 0;
					height: 0;
					border-top: 1px solid #ddd;
					margin: 70px auto;
				}

				img.banner{
					margin-top: 50px;
				}

				img{
					margin-bottom: 1.5rem;
				}
			}

		}
	}

	.footer-cta{
		width: 100%;
	    background-color: #0075BB;
	    text-align: center;
	    padding: 3em;
	    color: #fff;
	    @include media($mobile){
	    	margin-bottom: 50px;
	    }

	    h3{
    		color: #fff;
    		margin-bottom: 0.5rem;
	    }

	    p{
	    	color: #fff;
    		margin-bottom: 0.5rem;
	    }

	    .btn{
		    background: none;
		    border: 1px solid #fff;
		    margin-top: 15px;
		    display: inline-block;
		    color: #fff;
		    opacity: 1;
		    @include transition(all 0.2s ease-in-out);

		    &:hover{
		    	background: #fff;
		    	color: $primary;
		    	opacity: 1;
		    }
	    }
	}

}

// ====== SCHEDULE A DEMO SPECIFIC  ======
.demo-lp{

	.main{
		@include outer-container;
		padding: 70px 30px 70px 30px;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		h1.demo-title{
			text-align: center;
			margin-bottom: 60px;
			@include media($mobile) {
				text-align: left;
			}
		}
		section.content{ 
			@include span-columns(7);
			@include omega();
			@include media($tablet) {
				@include span-columns(8);
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }

			article{
				@include span-columns(12);

				@include media($tablet) {

			    }

			    @include media($mobile) {

			    }
			    .listing{
			    	@include clearfix;
			    } 
			    .testimonials{
			    	@include clearfix;
			    	margin: 60px 0 0 0;

			    	blockquote{
			    		@include font-size(16);
						color: $body-color;
						margin-bottom: 0;

						span{
							@include font-size(14);
							display: block;	
							margin-top: 1rem;
							margin-bottom: 0;
						}
			    	}
			    }
			    .listing-item{
			    	&:last-child{
			    		margin-bottom: 0;
			    	}
			    	float: left;
					margin-bottom: 1.875rem;

					.listing-item-icon{
						font-size: 2rem;
						padding-right: .5em;
						float: left;
						color: $primary;
					}

					.listing-item-content{
						overflow: hidden;
						vertical-align: middle;
						margin-top: .25em;

						.title{
							font-family: 'Open Sans', $helvetica; 
							margin-bottom: 0.5rem;
							font-size: 20px;
							color: $header-color;
						}
					}
			    }
			}
		}

		aside{
			@include span-columns(5);
			@include omega();
			float: right;
			border-left: 1px solid $line-gray;
			padding-left: 50px;

			@include media($tablet) {
				@include span-columns(5);
				@include shift(0);
				float: right;
				border-left: none;
				padding-left: 40px;;
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	margin-bottom: 70px;
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    	border-left: none;
		    	padding-left: 0;
		    }

		    .mktoForm button.mktoButton[type=submit]{
		    	background: $primary;
		    }
		}
	}
}

// ====== SIGN UP SPECIFIC  ======
.signup-lp{

	.main{
		@include outer-container;
		padding: 70px 30px 70px 30px;
		@include media($tablet) {
			max-width: 875px;
		}
		@include media($mobile) {
			max-width: 480px;
		}
		section.content{
			@include span-columns(7);
			@include media($tablet) {
				@include span-columns(8);
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }

			article{
				@include span-columns(12);

				@include media($tablet) {

			    }

			    @include media($mobile) {

			    }
			}
		}

		aside{
			@include span-columns(5);
			@include omega();
			float: right;

			@include media($tablet) {
				@include span-columns(5);
				@include shift(0);
				float: right;
		    }

		    @include media($mobile) {
		    	@include span-columns(12);
		    	margin-bottom: 70px;
		    	padding-bottom: 70px;
		    	border-bottom: 1px solid $line-gray;
		    }
		}
	}
}


// FEATURE ICONS FLEXBOX

.flex-container {
  padding: 0;
  margin: 2em 0 2em 0;
  list-style: none;
  @include display(flex);
  @include justify-content(space-around);
  flex-flow: row wrap;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  flex: 23% 4; 
  list-style:none;
  @include media($mobile) {
    flex: 50% 2;
	}
}

.feature-icons {
    font-size: 3rem;
    padding-right: .5em;
    float: left;
    width: 100%;
}

.feature-sub {
    text-align: center;
    font-size: 15px;
}

.text--center.slim {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
a.icon-large {
    font-size: 3rem;
}

p.feature-sub i {
  display: inline-block;
  padding-bottom: 0.5rem;
}


// RESPONSIVE VIDEO WRAPPER 

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden; 
    margin: 2em 0 2em 0;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

